<!DOCTYPE html>
<html>
  <head>
    <title>Help | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>For reference link : <a target='_blank' href='http://guides.rubyonrails.org'>http://guides.rubyonrails.org</a> </p>

  </body>
</html>
