<footer class="footer">
  <small>
    The <a target='_blank' href="http://www.gdgindore.in/">GDG Indore Ruby on Rails - II</a>
    by <a target='_blank' href="http://www.systango.com/">Varun Kothari</a>
  </small>
  <nav>
    <ul>     
      <li><%= link_to "Contact", contact_path %></li>
      <li><a target='_blank' href="http://www.codepunt.today">About Codepunt</a></li>
    </ul>
  </nav>
</footer>